#debug-info {
	position: absolute;
	padding: 30px;
	margin: 0px;
}

#bottom-alert {
    position: fixed;
    bottom: 5px;
    left:2%;
    width: 96%;
}

#highlighted-info{
	position: fixed;
    top: 30px;
    right:2%;
    width: 300px;
}